ul.top-tabs-action-nav
  li.action-nav
    a.btn.green(data-bind='click: submitSaveForm')
      =t('save')
  li.action-nav
    a.btn(data-bind='click: hideForm')
      =t('cancel')

form.wide( data-bind="submit: saveForm" )

  .form-content.edit-form
  
    p
      label=t('name')
      br
      input.span-full( type='text', data-bind='value: name' )

    p
      label.pull-left Subtype
      input.span400( type='text', data-bind='value: _subtype' )

    p
      label.pull-left=t('web_page.slug')
      input.span400( type='text', data-bind='value: slug' )

    p
      label.pull-left=t('web_page.propertieshidden')
      input( type='checkbox', data-bind='value: true, checked: properties().hidden' )
      span.desc=t('web_page.hidden_desc')

    p
      label.pull-left=t('web_page.frontpage')
      input( type='checkbox', data-bind='value: true, checked: properties().frontpage' )
      span.desc=t('web_page.frontpage_desc')

    p
      label.pull-left=t('web_page.no_robots')
      input( type='checkbox', data-bind='value: true, checked: properties().noRobots' )
      span.desc=t('web_page.no_robots_desc')