link(rel='stylesheet', href='/stylesheets/3rdparty/jquery.Jcrop.min.css')
link(rel='stylesheet', href='/stylesheets/3rdparty/ioco-jquery-ui/jquery-ui-1.9.1.custom.css')

link( rel='stylesheet', href='/stylesheets/web.css' )
link( rel='stylesheet', href='/stylesheets/ioco-page.css')
link( rel='stylesheet', href='/stylesheets/ioco.page-designer.css' )

link(rel='stylesheet', href='/stylesheets/ioco.css')

script(type='text/javascript', src='/javascripts/3rdparty/jquery-1.8.2.min.js')
script(type='text/javascript', src='/javascripts/3rdparty/jquery-ui-1.9.1.io.min.js')
script(type='text/javascript', src='/javascripts/3rdparty/jquery.mjs.nestedSortable.js')
script(type='text/javascript', src='/javascripts/3rdparty/moment.min.js')
script(type='text/javascript', src='/javascripts/3rdparty/moment-lang-all.min.js')
script(type='text/javascript', src='/javascripts/3rdparty/jquery.notice.js')
script(type='text/javascript', src='/javascripts/3rdparty/i18next.min.js')
script(type='text/javascript', src='/javascripts/3rdparty/knockout-2.2.0.js')


// uploading
script(type='text/javascript', src='/javascripts/3rdparty/prefixfree.min.js')
script(type='text/javascript', src='/javascripts/3rdparty/jquery.Jcrop.min.js')
script(type='text/javascript', src='/javascripts/3rdparty/filesize.min.js')
script(type='text/javascript', src='/javascripts/3rdparty/jquery.fineuploader-3.0.js')

script(type='text/javascript', src='/javascripts/document_base_model.js')
script(type='text/javascript', src='/javascripts/widgets/menubar.js')
script(type='text/javascript', src='/javascripts/widgets/side-tabs.js')
script(type='text/javascript', src='/javascripts/widgets/top-tabs.js')
script(type='text/javascript', src='/javascripts/widgets/dropdown.js')
script(type='text/javascript', src='/javascripts/widgets/tree.js')
script(type='text/javascript', src='/javascripts/widgets/ioco-multiselect.js')
script(type='text/javascript', src='/javascripts/widgets/ioco-uploader.js')

script(src='/socket.io/socket.io.js')
script(type='text/javascript', src='/javascripts/ioco.core.js')
script(type='text/javascript', src='/javascripts/ioco.js')

script(type='text/javascript', src='/javascripts/ioco.page-designer.js')
script(type='text/javascript', src='/javascripts/web_files_view_model.js')

script(type='text/javascript')
  if( typeof(ace) === 'undefined' )
    $.getScript( '/javascripts/3rdparty/ace.js' );

- for( i in ioco.plugins )
  - if( ioco.plugins[i].pageDesignerJSPlugins )
    - for( var j in ioco.plugins[i].pageDesignerJSPlugins )
      script(type='text/javascript', src='#{ioco.plugins[i].pageDesignerJSPlugins[j]}')
 

:stylus
  .admin-panel
    margin: 5px
    background: #eee
    border: 1px solid #ccc
    height: 30px

    #ioco-logo
      width: 50px
      margin: 3px 10px 1px
      float: left

    #page-title
      font-size: 18px
      float: left
      margin: 0 20px 0 10px

    .btn
      margin: 1px

    .w-icn-only
      width: 0
      height: 17px


.admin-panel
  img#ioco-logo( src='/images/logo_200x200.png' )
  span#page-title=webpage.name
  a.pull-right.btn#toggle-editor=t('edit')
  a.pull-right.btn.w-icn-only#change-public-status
    span.icn.icn-locked( class=( webpage.published ? 'unlocked' : '' ) )

script(type='text/javascript') 

  $(function(){

    ioco.initUsersCache();

    $('#toggle-editor').on('click', function(){

      $.getJSON( '/webpages/!{ webpage._id }', function( json ){
        $('#page-content').hide();
        $('#pd-content').iocoPageDesigner({
          i18n: true,
          revisions: true,
          roles: { designer: !{currentUser.groups.indexOf('designer') >= 0} },
          _csrf: $('#_csrf').val(),
          usersCache: ioco.usersCache,
          webPage: new ioco.pageDesigner.WebPage( json ),
          after: {
            create: function( plugin, webBit, boxDom, json, done ){
              ioco.notify( json.flash );
              done();
            }
          },
          on: function( action, item, callback ){
            if( action === 'createRootWebBit' ){
              itemData.rootWebBitId = item.rootWebBitId;
              callback( null );
            }
          }
        });
      });

      $('.ioco-pd-area').css('top',50);

    });

  });