link( rel='stylesheet', href='/stylesheets/web.css' )

script( type='/text/javascript', src='/javascripts/ioco.page-designer-cs.js' )

script( type='text/javascript' )
  ioco.pageTemplates = !{JSON.stringify(pageTemplates)};

-for( var i in pageAddons )
  script( type='text/javascript' )
    PageDesignerCS.addons.!{i} = { name: '!{i}', decorate: !{pageAddons[i].decorate.toString()}, addControls: !{pageAddons[i].addControls.toString()} }

script( type='text/javascript', src='/javascripts/web.js' )
#ioco-webpages
  .ioco-sidebar

    h1.title=t('webpages.title')

    .ioco-k-tree

      ul.k-menu.controls(data-role='menu')
        li
          a.btn( data-bind='click: showNewWebpageForm')
            span.icn-plus.icn
        li
          a.btn( data-bind='click: refreshTree' )
            span.icn.icn-refresh
        li
          a.btn.enableable( data-bind='click: deleteSelectedNodes')
            span.icn.icn-trash

      .webpages-tree

  .ioco-content

    .click-for-details.no-item-form
      h1.title=t('webpages.title')
      span=t('document.click_for_details')

    .ioco-inner-content

      .page-content( data-template='webpage-form', data-bind='source: this', style='position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow: auto;')

      .page-properties( data-template='webpage-properties', data-bind='source: this', style='visibility: hidden' )

include tmpl/webpage_form

#new-webpage-form
  form( data-bind='events: { submit: appendWebpage }')
    p
      label=t('webpage.select_template')
      br
      select( data-bind='source: templates, value: template', data-text-field='text', data-value-field='value', style='width:100%', data-role='combobox' )
    p
      label=t('webpage.name')
      br
      input( type='text', data-bind='value: name', style='width:100%')
    p
      input.btn( type='submit', value=t('create') )