link( rel='stylesheet', href='/stylesheets/web.css' )
link( rel='stylesheet', href='/stylesheets/ioco-page.css')
link( rel='stylesheet', href='/stylesheets/ioco.page-designer.css' )
#ioco-webpages
  .ioco-sidebar
    .ioco-tree

      h1.title=t('webpages.title')

      .tree-controls
        a.btn.w-icn-only.live-tipsy( href='#', translate-title='webpages.new', data-bind='click: newItemForm' )
          span.icn-plus.icn
        a.btn.w-icn-only.live-tipsy( href='#', translate-title='refresh', data-bind='click: fetchData' )
          span.icn.icn-refresh
        a.btn.w-icn-only.live-tipsy.enableable( href='#', translate-title='delete_selected', data-bind='css: {enabled: selectedItems().length > 0}, click: deleteSelected')
          span.icn.icn-trash

      br.clearfix

      ul.tree-content( data-bind='template: {name: "webItemTemplate", foreach: items}' )

  .ioco-content

    .click-for-details.no-item-form
      h1.title=t('webpages.title')
      span=t('document.click_for_details')

    #ioco-webpage-form.item-form( data-bind='template: {name: "webItemForm"}' )

include ko_templates/web_item
include ko_templates/web_item_form

script(type='text/javascript', src='/javascripts/ioco.page-designer.js')
script(type='text/javascript', src='/javascripts/web_files_view_model.js')

script(type='text/javascript')
  if( typeof(ace) === 'undefined' )
    $.getScript( '/javascripts/3rdparty/ace.js' );

- for( i in ioco.plugins )
  - if( ioco.plugins[i].pageDesignerJSPlugins )
    - for( var j in ioco.plugins[i].pageDesignerJSPlugins )
      script(type='text/javascript', src='#{ioco.plugins[i].pageDesignerJSPlugins[j]}')
  
script(type='text/javascript')
  
  // init users cache (in case it has not been initialized yet)
  ioco.initUsersCache();

  function askWebpageOrLabel( $tree, e ){

    if( $('#ask-webpage-or-label').length )
      return $('#ask-webpage-or-label').remove();

    var $a = $(e.target).hasClass('btn') ? $(e.target) : $(e.target).closest('a.btn');
    var askDiv = $('<div id="ask-webpage-or-label"/>')
        .append( $('<ul/>')
          .append($('<li/>').text( $.i18n.t('webpage.new_webpage') ).on('click', function(e){
              $('#ask-webpage-or-label').remove();
              renderNewWebpageModal( $tree );
            })
          )
          .append($('<li/>').text( $.i18n.t('webpage.new_label') ).on('click', function(e){
              $('#ask-webpage-or-label').remove();
              renderNewLabelModal( $tree );
            })
          )
        )
        .addClass('ask-div')
        .css({ top: $a.offset().top + $a.height(), left: $a.offset().left });

    setTimeout(function(){ askDiv.addClass('js-remove-on-click') }, 100);
    $('body').append( askDiv );

  }

  function renderForm( itemData ){
    $('#pd').iocoPageDesigner({
      i18n: true,
      disableRootWebBitControls: true,
      revisions: true,
      roles: { designer: !{currentUser.groups.indexOf('designer') >= 0} },
      csrf: $('#_csrf').val(),
      usersCache: ioco.usersCache,
      webPage: new ioco.pageDesigner.WebPage( itemData ),
      after: {
        create: function( plugin, webBit, boxDom, json, done ){
          ioco.notify( json.flash );
          done();
        }
      },
      on: function( action, item, callback ){
        if( action === 'createRootWebBit' ){
          itemData.rootWebBitId = item.rootWebBitId;
          callback( null );
        }
      }
    });
    $('.top-tabs-nav-title.page-name').text( itemData.name() );
    ioco.parseTranslations();
  }

  function appendLabelToForm( $formContent, $tree ){

    if( $tree.treeViewModel.selectedItems().length === 1 ){
      var item = $tree.treeViewModel.selectedItems()[0];
      $formContent.append( $('<p/>').append( $('<label/>').addClass('desc').text( $.i18n.t('document.labels') ) ).append('&nbsp;')
                     .append( 
                        $('<span/>').addClass('lbl parent').append( $('<span/>').text( item.name() ) )
                          .append( $('<span/>').html('&nbsp; &times;')
                                    .css('cursor', 'pointer')
                                    .on('click', function(e){
                                      $(this).parent().remove();
                                    })
                           ).attr('data-parent', item._type+':'+item._id)
                      )
      );
    }

    return $formContent;

  }

  function renderNewWebpageModal( $tree ){

    var $formContent = $('<form class="webpage-form" />')

    $formContent = appendLabelToForm( $formContent, $tree );

    $formContent
      .append( $('<p/>').append( $('<label/>').addClass('desc').text( $.i18n.t('webpage.name') ) )
                     .append( $('<input/>').attr('type','text').attr('name', 'name') )
      )
      .append( $('<p/>').append( $('<label/>').addClass('desc').text( $.i18n.t('webpage.template') ) )
                        .append( $('<br/>') )
                        .append( $('<select/>').attr('name', 'template').append( $('<option/>').attr('value','').text('') ) )
      )
      .append( $('<p/>').css('text-align', 'right').append( $('<input/>').attr('type','submit').addClass('btn').attr('value', $.i18n.t('webpage.create')) ) );

    $.getJSON( '/webbits/templates.json', function( json ){
      if( json )
        for( var i in json )
          $formContent.find('select').append( $('<option/>').attr('value',json[i]._id).text( json[i].name ) );
    });

    ioco.modal({ 
      title: $.i18n.t('webpage.create_title'),
      $content: $formContent,
      height: 300,
      completed: function( $modal ){

        $modal.find('input[type=text]').focus();

        $modal.find('form').on('submit', function(e){

          e.preventDefault();

          var name = $(this).find('input[name=name]').val()
            , templateId = $(this).find('select[name=template]').val();

          if( name.length < 1 )
            return ioco.notify('error', $.i18n.t('webpage.name_required') );

          var path = $modal.find('form .parent').attr('data-parent');

          $.ajax({ url: '/webpages', 
                   type: 'post', 
                   data: { _csrf: ioco._csrf, webpage: { name: name, _labelIds: (path ? [path] : []) }, templateId: templateId },
                   success: function( response ){
                      if( !response.success )
                        return ioco.notify( $.i18n.t('creation.failed', {name: name}) + ' ' + $.i18n.t('reason') + ':' + response.error );
                      var item = new $tree.TreeItemModel( response.webpage );
                      $tree.treeViewModel.items.push( item );
                      $tree.find('[data-id='+item._id+'] a.link-trigger:first').click();
                      ioco.modal('close');
                    }
          });

        });

      }
    });

  }

  /**
   * render a modal dialog
   * for a new webpage label
   *
   */
  function renderNewLabelModal( $tree ){

    var $formContent = $('<form class="webpage-form" />');

    $formContent = appendLabelToForm( $formContent, $tree );

    $formContent
      .append( $('<p/>').append( $('<label/>').addClass('desc').text( $.i18n.t('name') ) )
                     .append( $('<input/>').attr('type','text').attr('name', 'name') )
      )
      .append( $('<p/>').css('text-align', 'right').append( $('<input/>').attr('type','submit').addClass('btn').attr('value', $.i18n.t('webpage.create_label')) ) );


    ioco.modal({ 
      title: $.i18n.t('webpage.create_label_title'),
      $content: $formContent,
      height: 250,
      completed: function( $modal ){

        $modal.find('input[type=text]').focus();

        $modal.find('form').on('submit', function(e){

          e.preventDefault();

          var name = $(this).find('input[name=name]').val();

          if( name.length < 1 )
            return ioco.notify('error', $.i18n.t('webpage.name_required') );

          var labelIds = [];
          if( $('.tree-item:visible.selected').length )
            labelIds.push( ko.dataFor($('.tree-item:visible.selected').closest('li').get(0)).labelPath() );

          $.ajax({ url: '/webpage_labels', type: 'post', data: { _csrf: ioco._csrf, label: { name: name, _labelIds: labelIds } },
                   success: function( response ){
                      if( !response.success )
                        return ioco.notify( $.i18n.t('creation.failed', {name: name}) + ' ' + $.i18n.t('reason') + ':' + response.error );
                      var item = new $tree.TreeItemModel( response.label );
                      $tree.treeViewModel.items.unshift( item );
                      ioco.modal('close');
                    }
          });

        });

      }
    });

  }
  $('#ioco-webpages .ioco-tree').iocoTree({
    url: '/webpages.json?roots=true',
    saveUrl: '/webpages/',
    saveKey: 'webpage',
    saveAttrs: [ 'name', 'tags', 'content', 'slug', 'properties', 'frontpage', 'template' ],
    defaultValues: { properties: {}, content: '', _type: 'WebPage' },
    beforeSave: function( form, data, save ){
      var webBit = $('#ioco-webpage-form:visible .ioco-web-bit.root:first').data('webBit');
      webBit.name = data.webpage.name;
      webBit.save( function(){
        save( data );
      });
    },
    before: function( tree ){
      tree.TreeItemModel.prototype.previewWebPage = function(){
        window.open( '/p'+this.slug() );
      };
      tree.TreeItemModel.prototype.isLabel = function(){
        return (typeof(this.type) === 'function' && this.type() === 'WebLabel');
      };
    },
    replaceNewItemForm: function( itemData, form, $tree, e ){
      askWebpageOrLabel( $tree, e );
    },
    afterShowForm: function( itemData, form, $tree ){
      renderForm( itemData ); 
    }
  });

  $('#ioco-webpages .ioco-tree ul:first').nestedSortable({
      listType: 'ul',
      forcePlaceholderSize: true,
      handle: 'div',
      helper: 'clone',
      items: 'li',
      opacity: .6,
      placeholder: 'placeholder',
      revert: 250,
      delay: 250,
      tolerance: 'pointer',
      toleranceElement: '> div',
      maxLevels: 5,
      isTree: true,
      expandOnHover: 700,
      startCollapsed: true,
      stop: function( e, ui ){
        function collectChildren( parent ){
          var arr = [];
          parent.find('ul:first').children().each(function(){ arr.push( $(this).attr('data-id') ); });
          return arr;
        }
        var parent = $(ui.item).parent().closest('li.tree-li');
        var children;

        if( parent.length )
          children = collectChildren( parent );
        else
          children = collectChildren( $('#ioco-webpages .ioco-tree') );
        var formData = { _csrf: $('#_csrf').val(), ids: children.join(',') };
        if( parent.length ){
          var par = ko.dataFor($(parent).get(0));
          formData.path = par._type+':'+par._id;
        }
        $.post( '/documents/sort', formData, function( data ){
          if( data.success )
            ioco.notify( data.flash );
          else
            ioco.notify( { error: $.i18n.t('document.order.saving.failed')})
        })
      }
  });