script( type='text/html', id='webFileDetails' )
  form( data-bind='submit: saveChanges' )
    input( type='submit', value=t('save'), style='display:none' )

    div(style='height:20px')
      a.pull-right.btn.w-icn-only.no-bg( onclick='$(this).closest(\'form\').submit();' )
        span.icn.icn-save
      a.pull-right.live-tipsy.lbl.public-status( original-title=t('document.click_to_change_public_status'), data-bind='click: changePublicStatus, css: {locked: !published()}, text: published() ? $.i18n.t(\'document.published\') : $.i18n.t(\'document.locked\')')

    p
      label.desc=t('web.files.name')
      br
      input( type='text', data-bind='value: name' )
    p
      label.desc=t('web.files.description')
      br
      textarea( data-bind='text: description.default', style='width:100%; height: 3em' )
    p
      label.desc=t('web.files.copyright')
      br
      input( type='text', data-bind='value: copyright.default')
    table.span-full
      tr
        td
          label.desc=t('web.files.file_size')
        td
          label.desc=t('web.files.dimensions')
      tr
        td
          span.text( data-bind='text: calcFileSize' )
        td
          span.text( data-bind='text: dimension' )
    p
      label.desc=t('web.files.rel_path')
      br
      a.text( data-bind='attr: {href: \'/files/\'+humanReadablePath()}, text: humanReadablePathTrunc()' )
    p
      label.desc=t('web.files.content_type')
      br
      span.text.live-tipsy( data-bind='text: contentTypeTrunc, attr:{\'original-title\': contentType}' )
    p
      label.desc=t('document.tags.title')
      br
      input.tags( type='text', data-bind='text: tags' )

script( type='text/html', id='webImageTemplate' )
  <!-- ko if: isImage() -->
  li.web-file( draggable='true', data-bind='if: isImage(), attr: { \'data-id\': _id, id: _id }, style: {backgroundImage: \'url(/files/\'+_id+\')\'}')
  <!-- /ko -->

script( type='text/html', id='webFileTemplate' )
  <!-- ko if: !isImage() -->
  li.web-file( draggable='true', data-bind='attr: { \'data-id\': _id, id: _id }')
    a.btn.content-type( data-bind='text: extensionName' )
    a.link-text( target='_blank', data-bind='attr: {href: \'/files/\'+humanReadablePath()}, text: name' )
  <!-- /ko -->


.modal-sidebar

  ul.sidebar-nav
    li=t('web.files.upload')
    li=t('web.files.pictures')
    li=t('web.files.files')

  .sidebar-content

    .content-padding

      != partial('documents/snippets/path-info.jade', {sideBySide: true})

      #uploader

      #upload-progress.progress(style='display:none')
        .bar(style='width:0%')

    #web-images-container.web-files-container.content-padding

      .offset-details-view
        
        #web-images-control.web-files-control
          a.btn.w-icn-only.refresh.pull-left.live-tipsy('original-title'=t('refresh'))
            span.icn.icn-refresh
          a.btn.w-icn-only.enableable.delete-selected.pull-left.live-tipsy('original-title'=t('delete'))
            span.icn.icn-trash
          .pull-right.desc(style='margin-right:20px')
            span.amount-images( data-bind='text: totalImages')
            | &nbsp;
            span=t('web.files.images_in_total')
          .pull-right.desc.selected-counter
            span.counter 0
            | &nbsp;
            span=t('web.files.selected')
            | &nbsp;
            span=t('of')
            | &nbsp;

        ul#web-images.web-images.draggable-content( data-bind='template: { name: \'webImageTemplate\', foreach: files }' )

      .modal-details-view
        .file-details( data-bind='template: { name: \'webFileDetails\' }' )
        .no-file-selected
          =t('web.files.click_for_details')

    #web-files-container.web-files-container.content-padding

      .offset-details-view
        
        #web-files-control.web-files-control
          a.btn.w-icn-only.refresh.pull-left.live-tipsy('original-title'=t('refresh'))
            span.icn.icn-refresh
          a.btn.w-icn-only.enableable.delete-selected.pull-left.live-tipsy('original-title'=t('delete'))
            span.icn.icn-trash
          .pull-right.desc(style='margin-right:20px')
            span.amount-images( data-bind='text: totalFiles')
            | &nbsp;
            span=t('web.files.files_in_total')
          .pull-right.desc.selected-counter
            span.counter 0
            | &nbsp;
            span=t('web.files.selected')
            | &nbsp;
            span=t('of')
            | &nbsp;

        ul#web-files.web-files.draggable-content( data-bind='template: { name: \'webFileTemplate\', foreach: files }' )

      .modal-details-view
        .file-details( data-bind='template: { name: \'webFileDetails\' }' )
        .no-file-selected
          =t('web.files.click_for_details')