.iokit-main-content-inner

  form.wide( action=(article ? '/web_elements/'+article._id : '/web_elements'), method=(article ? 'put' : 'post'), data-remote='true' )

    button.icnbtn.pull-right(type='submit')
      .icn.icn-save

    .change-subtype.pull-right
      =t('web.change_subtype')
      span.caret

    h1.article-title(style='margin-bottom:0')=(article ? article.name : t('articles.new'))
    span.h1footer=(article ? t('last_edited_ago', {mins: moment(article.updatedAt).fromNow(), by: currentUser.name.full}) : t('you_are_creating'))

    .container-overflow(style='top:120px;left: 40px')
      table(style='margin:10px 0 20px; width:100%')
        tr
          td
            label=t('articles.name')
          td
            label=t('articles.connect_with_project')
        tr
          td
            input#article_name.large.span300( type='text', name='web_element[name]', value=(article ? article.name : '') )
          td
            input#article_veranstaltung_ac.span300( type='text' )
            input#article_veranstaltung(type='hidden', name='web_element[_veranstaltung]', value=(article ? article._veranstaltung : '') )

      p.tags
      label Tags
      br
      input.span600(type='text', name='web_element[tags]', value=(article ? article.tags.join(',') : ''))

      -if( currentUser.roles.indexOf('manager') >= 0 )
        input(type='checkbox', checked=(article ? article.published : null), name='publish', value='true')
        =t('articles.published')

      p
        label.control-label=t('articles.content')
        br
        textarea#editor(name='web_element[content]')=(article ? article.content : '')
        
      input.parent( type='hidden', name='web_element[parent]', id='file_parent' )
      input( type='hidden', name='web_element[_subtype]', id='article_subtype', value='Article')
      -if( currentUser.roles.indexOf('manager') < 0)
        input( type='hidden', name='web_element[_waiting]', value=(article ? article.waiting : 'true'))
      input( type='hidden', name='web_element[navElem]', value='true')

style
  .change-subtype{ position: absolute; top: 68px; right: 60px; opacity: 0.2; cursor: poiokit }
  .change-subtype:hover{ opacity: 1 }
  .change-subtype .caret{ margin: 6px 0 0 5px; }