script( type='text/x-kendo-template', id='webpage-form' )
  div.page-label-info( data-bind='attr: { data-page-id: _id, data-page-type: _type }' )
    ul.action-nav
      li
        a.close-btn.btn(data-bind='click: hideForm')
          span &times;
      li
        a.btn.w-icn-only(data-bind='click: toggleProperties')
          span.icn.icn-properties
      li
        a.btn.w-icn-only(data-bind='attr: { href: humanLink }', target='_blank')
          span.icn.icn-preview
      li
        a.btn.w-icn-only(data-bind='click: publish')
          span.icn.icn-locked(data-bind='css: {unlocked: published}')
      li
        a.btn.green(data-bind='click: submitForm')
          =t('save')

script( type='text/x-kendo-template', id='webpage-properties')
  .properties-win
    ul.panelbar
      li.k-state-active=t('webpage.general')
        div
          p.item
            label=t('webpage.name')
            br
            input(type='text', data-bind='value: name')
          p.item
            label=t('webpage.revision')
            br
            select(data-bind='source: revisionsArray, value: config.activeRevision', data-role='dropdownlist')
          p.item
            label=t('webpage.view')
            br
            select(data-bind='source: viewsArray, value: currentView', data-role='dropdownlist')
          p.item
            label=t('webpage.lang')
            br
            select(data-bind='source: langArray, value: currentLang', data-role='dropdownlist')
      li=t('webpage.Search Engines')
        div
          p.item
            label=t('webpage.Meta Description')
            br
            input(type='text', data-bind='value: revision.config.meta.description')
          p.item
            label=t('webpage.Meta Keywords')
            br
            input(type='text', data-bind='value: revision.config.meta.keywords')
    h2=t('webpage.Addon Settings')
    .addonbar-container