h1=t('web.new')
p
  span.label.parent

form( action='/webpages/new' )
  p
    label=t('web.select_type')
    br
    select#web-type
      -if( ioco.config.availableTypes )
        -for( var i in ioco.config.availableTypes )
          option=t('web.types.'+ioco.config.availableTypes[i])
  p
    label=t('web.name')
    br
    input.span300( type='text', name='name' )
  p
    label=t('web.template')
    br
    select#web-template
    
  input.parent( type='hidden', name='folder[parent]', id='file_parent' )

  p.control
    button.btn( type='button', onclick="ioco.modal('close');")=t('cancel')
    button.btn( type='submit' )=t('save')
