script(src='/javascripts/widgets/io-edit.js')
form.wide( data-bind="submit: saveWebpageContent", id="webpage-#{webpage._id}-form", data-id=webpage._id )

  .form-content.edit-form
    .editable-content( id='webpage-content-'+webpage._id )!=webpage.content

    p
      label=t('document.tags.title')
      br
      input.ioco-tags.span-full( type='text', data-bind='value: stringifiedTags' )

  .form-content.preferences-form.hide

    .ioco-form-controls
      a.btn.w-icn-only.pull-right( href="#", data-bind="click: saveWebpageContent" )
        span.icn.icn-save
      a.btn.w-icn-only.pull-right( href="#", onclick="$(this).closest('.form-content').hide().closest('form').find('.edit-form').fadeIn(200);")
        span.icn.icn-pencil

    p
      label.pull-left=t('webpages.layout')
      input.span400( type='text', data-bind='value: layout' )

    p
      label.pull-left Subtype
      input.span400( type='text', data-bind='value: _subtype' )

    p
      label.pull-left=t('webpages.slug')
      input.span400( type='text', data-bind='value: slug' )

    p
      label.pull-left=t('webpages.hidden')
      input( type='checkbox', data-bind='value: hidden' )
      span.desc=t('webpages.hidden_desc')

    p
      label.pull-left=t('webpages.no_robots')
      input( type='checkbox', data-bind='value: noRobots' )
      span.desc=t('webpages.no_robots_desc')

script( src='/javascripts/web.js', type='text/javascript' )
script( src='/javascripts/web_files_view_model.js', type='text/javascript' )
link( rel='stylesheet', href='/stylesheets/web.css' )
script
  $(function(){
    $('#webpage-content-#{webpage._id}').ioEdit( {setupMethods: {
        save: function( btn ){
          btn.attr('data-bind', 'click: saveWebpageContent');
        },
        preferences: function( btn ){
          $(btn).on('click', function(e){
            $(btn).closest('.form-content').hide().closest('form').find('.preferences-form').fadeIn(200);
            e.preventDefault();
          })
        },
        image: function( btn ){
          $(btn).on('click', function(e){
            ioco.modal({ 
              title: $.i18n.t('web.files.manage'),
              windowControls: {
                moveLeft: {
                  icn: 'icn-win-arrange-left',
                  callback: function( modal ){
                    $(modal).toggleClass('arrange-left');
                    $('#ioco-modal-overlay').toggle(200);
                  }
                }
              },
              url: '/web_elements/#{webpage._id}/files',
              before: function( modal ){
                var webFilesViewModel = new WebFilesViewModel( '/web_elements/#{webpage._id}/files.json' );
                modal.data('webFilesViewModel', webFilesViewModel);

                ioco.web.uploader( modal, '#{webpage._id}', webFilesViewModel );
                ko.applyBindings( webFilesViewModel, modal.find('#web-images-container .offset-details-view').get(0) );
                ko.applyBindings( webFilesViewModel, modal.find('#web-files-container .offset-details-view').get(0) );
                ioco.web.setupFileActions( modal, webFilesViewModel );

              }
            });
            e.preventDefault();
          });
        },
        preview: function( btn ){
          $(btn).on('click', function( e ){
            window.open( ioco.host.native + '/p#{webpage.slug}' );
            e.preventDefault();
          });
        }
      }
    });
  });