link( rel='stylesheet', href='/stylesheets/web.css' )
link( rel='stylesheet', href='/stylesheets/ioco-page.css')
#ioco-web_pages
  .ioco-sidebar
    .ioco-tree

      h1.title=t('web_pages.title')

      .tree-controls
        a.btn.w-icn-only.live-tipsy( href='/webpages/new', original-title=t('web_pages.new'), data-bind='click: newItemForm' )
          span.icn-plus.icn
        a.btn.w-icn-only.live-tipsy( href='#', original-title=t('refresh'), data-bind='click: fetchData' )
          span.icn.icn-refresh
        a.btn.w-icn-only.live-tipsy.enableable( href='#', original-title=t('delete_selected'), data-bind='css: {enabled: selectedItems().length > 0}, click: deleteSelected')
          span.icn.icn-trash

      br.clearfix

      ul.tree-content( data-bind='template: {name: "webItemTemplate", foreach: items}' )

  .ioco-content

    .click-for-details.no-item-form
      h1.title=t('web_pages.title')
      span=t('document.click_for_details')

    #ioco-user-form.item-form( data-bind='template: {name: "webItemForm"}' )

script(type='text/html', id='webItemTemplate')
  li.tree-li( data-bind='attr: { "data-id": _id }, click: markSelected')
    .tree-item
      span(class='children-caret tree-trigger', data-bind='click: toggleChildren')
      a.pull-right.show-details-arr( data-bind='click: showForm')
        span.icn.icn-arr-right
        | &nbsp;
      // ko if: preferences().frontpage
      a.pull-right(style='opacity:0.5')
        .span.icn.icn-home
      // /ko
      a.link-trigger( href='#', data-bind='text: name, click: showForm' )
    ul(data-bind='template: { name: \'webItemTemplate\', foreach: children }')

script(type='text/html', id='webItemForm')

  .top-tabs

    ul.top-tabs-nav
      li=t('webelement.layout')
      li=t('webelement.preferences')

    .top-tabs-content

      .content-padding

        include snippets/form

      .content-padding

        include snippets/preferences

//script(type='text/javascript', src='/javascripts/widgets/io-edit.js')
script(type='text/javascript', src='/javascripts/widgets/io-page-designer.js')
script(type='text/javascript', src='/javascripts/web_files_view_model.js')
- for( i in ioco.plugins )
  - if( ioco.plugins[i].pageDesignerJSPlugins )
    - for( var j in ioco.plugins[i].pageDesignerJSPlugins )
      script(type='text/javascript', src='#{ioco.plugins[i].pageDesignerJSPlugins[j]}')
  

script(type='text/javascript')
  
  var title = {};
  title[$('#_fallbackLocale').val()] = '';

  $('#ioco-web_pages .ioco-tree').iocoTree({
    url: '/web_pages.json?roots=true',
    saveUrl: '/web_pages/',
    saveKey: 'webPage',
    saveAttrs: [ 'name', 'tags', 'layout', '_subtype', 'slug', 'properties', 'content' ],
    defaultValues: { name: { '#{ioco.config.fallbackLocale}': '' }, properties: {} },
    before: function( tree ){
      tree.TreeItemModel.prototype.tags = ko.observableArray([]);
      tree.TreeItemModel.prototype.preferences = ko.observable({});
      tree.TreeItemModel.prototype.stringifiedTags = ko.computed({
        read: function(){
          return typeof(this.tags) !== 'undefined' ? this.tags.join(',') : '';
        },
        write: function( value ){
          if( value )
            this.tags = value.split(',');
        },
        owner: this
      });
    },
    afterShowForm: function( item, form ){
      $('.ioco-page').css('width', $('.ioco-page').width()-100);
      $('#ioco-page-designer').ioPageDesigner();
      //$(form).find('.editable-main-content').ioEdit();
    }
  });
  $('#ioco-web_pages .ioco-tree ul:first').nestedSortable({
      listType: 'ul',
      forcePlaceholderSize: true,
      handle: 'div',
      helper: 'clone',
      items: 'li',
      opacity: .6,
      placeholder: 'placeholder',
      revert: 250,
      delay: 250,
      tolerance: 'poioco',
      toleranceElement: '> div',
      maxLevels: 5,
      isTree: true,
      expandOnHover: 700,
      startCollapsed: true,
      stop: function( e, ui ){
        function collectChildren( parent ){
          var arr = [];
          parent.find('ul:first').children().each(function(){ arr.push( $(this).attr('data-id') ); });
          return arr;
        }
        var parent = $(ui.item).parent().closest('li.tree-li');
        var children;

        if( parent.length )
          children = collectChildren( parent );
        else
          children = collectChildren( self );
        var formData = { _csrf: $('#_csrf').val(), ids: children.join(',') };
        if( parent.length )
          formData.path = $(parent).attr('data-id') + ':' + $(parent).attr('data-_type');
        $.post( '/documents/sort', formData, function( data ){
          if( data.success )
            ioco.notify( data.flash );
          else
            ioco.notify( { error: $.i18n.t('document.order.saving.failed')})
        })
      }
  });