link( rel='stylesheet', href='/stylesheets/web.css' )
link( rel='stylesheet', href='/stylesheets/iokit-page.css')
#iokit-webelements
  .iokit-sidebar
    .iokit-tree

      h1.title=t('webelements.title')

      .tree-controls
        a.btn.w-icn-only.live-tipsy( href='/webpages/new', original-title=t('webelements.new'), data-bind='click: newItemForm' )
          span.icn-plus.icn
        a.btn.w-icn-only.live-tipsy( href='#', original-title=t('refresh'), data-bind='click: fetchData' )
          span.icn.icn-refresh
        a.btn.w-icn-only.live-tipsy.enableable( href='#', original-title=t('delete_selected'), data-bind='css: {enabled: selectedItems().length > 0}, click: deleteSelected')
          span.icn.icn-trash

      br.clearfix

      ul.tree-content( data-bind='template: {name: "webItemTemplate", foreach: items}' )

  .iokit-content

    .click-for-details.no-item-form
      h1.title=t('webelements.title')
      span=t('document.click_for_details')

    #iokit-user-form.item-form( data-bind='template: {name: "webItemForm"}' )

script(type='text/html', id='webItemTemplate')
  li.tree-li( data-bind='attr: { "data-id": _id }, click: markSelected')
    .tree-item
      span(class='children-caret tree-trigger', data-bind='click: toggleChildren')
      a.pull-right.show-details-arr( data-bind='click: showForm')
        span.icn.icn-arr-right
        | &nbsp;
      // ko if: preferences().frontpage
      a.pull-right(style='opacity:0.5')
        .span.icn.icn-home
      // /ko
      a.link-trigger( href='#', data-bind='text: name, click: showForm' )
    ul(data-bind='template: { name: \'webItemTemplate\', foreach: children }')

script(type='text/html', id='webItemForm')

  .top-tabs

    ul.top-tabs-nav
      li=t('webelement.layout')
      li=t('webelement.preferences')

    .top-tabs-content

      .content-padding

        include snippets/form

      .content-padding

        include snippets/preferences

script(type='text/javascript', src='/javascripts/widgets/io-edit.js')
script(type='text/javascript', src='/javascripts/widgets/io-page-designer.js')
- for( i in iokit.plugins )
  - if( iokit.plugins[i].pageDesignerJSPlugins )
    - for( var j in iokit.plugins[i].pageDesignerJSPlugins )
      script(type='text/javascript', src='#{iokit.plugins[i].pageDesignerJSPlugins[j]}')
  

script(type='text/javascript')
  
  var title = {};
  title[$('#_fallbackLocale').val()] = '';

  $('#iokit-webelements .iokit-tree').iokitTree({
    url: '/webelements.json?roots=true',
    saveUrl: '/webelements/',
    saveKey: 'webElement',
    saveAttrs: [ 'name', 'tags', 'layout', '_subtype', 'slug', 'preferences', 'i18n' ],
    defaultValues: { name: '', i18n: { title: title }, preferences: {} },
    before: function( tree ){
      tree.TreeItemModel.prototype.tags = ko.observableArray([]);
      tree.TreeItemModel.prototype.preferences = ko.observable({});
      tree.TreeItemModel.prototype.stringifiedTags = ko.computed({
        read: function(){
          return typeof(this.tags) !== 'undefined' ? this.tags.join(',') : '';
        },
        write: function( value ){
          if( value )
            this.tags = value.split(',');
        },
        owner: this
      });
    },
    afterShowForm: function( form ){
      $('#iokit-page-designer').ioPageDesigner();
      //$(form).find('.editable-main-content').ioEdit();
    }
  });
  $('#iokit-webelements .iokit-tree ul:first').nestedSortable({
      listType: 'ul',
      forcePlaceholderSize: true,
      handle: 'div',
      helper: 'clone',
      items: 'li',
      opacity: .6,
      placeholder: 'placeholder',
      revert: 250,
      delay: 250,
      tolerance: 'poiokit',
      toleranceElement: '> div',
      maxLevels: 5,
      isTree: true,
      expandOnHover: 700,
      startCollapsed: true,
      stop: function( e, ui ){
        function collectChildren( parent ){
          var arr = [];
          parent.find('ul:first').children().each(function(){ arr.push( $(this).attr('data-id') ); });
          return arr;
        }
        var parent = $(ui.item).parent().closest('li.tree-li');
        var children;

        if( parent.length )
          children = collectChildren( parent );
        else
          children = collectChildren( self );
        var formData = { _csrf: $('#_csrf').val(), ids: children.join(',') };
        if( parent.length )
          formData.path = $(parent).attr('data-id') + ':' + $(parent).attr('data-_type');
        $.post( '/documents/sort', formData, function( data ){
          if( data.success )
            iokit.notify( data.flash );
          else
            iokit.notify( { error: $.i18n.t('document.order.saving.failed')})
        })
      }
  });