.content-padding
  form( data-bind='submit: createWebpage, with: webpage' )

    != partial('documents/snippets/path-info.jade')
      
    p
      label.desc=t('name')
      br
      input.span400.js-get-focus(type='text', data-bind='value: name, valueUpdate: "afterkeydown"')
    p
      label.desc=t('webpages.layout')
      br
      select.span400(name='webElement[layout]', data-bind='value: layout')
        -if( ioco.config.site.layouts )
          -for( var i=0, layout; layout=ioco.config.site.layouts[i]; i++ )
            option(value=layout)=layout

    p(style='text-align:right')
      input(type='hidden', value='Webpage', data-bind='value: _subtype')
      input.btn(type='submit', value=t('create'))
